<form id="edit-profile-container">

    <div id="top-of-form">
        <div id="header">
            <h1>Edit Profile</h1>

            <p>Please make sure to fill out all field! All changes are not perminent and can be changed!</p>
            <p class="disclaimer">Admins reserve the right to modify any information at any time.</p>
        </div>
    </div>

    <div id="profile-picture-section">
        <label for="profile-picture" id="profile-picture-label">Profile Picture</label>
        <div id="profile-picture-preview">
            <img src="/pages/stylesheets/assets/blankpfp.svg" alt="Profile Picture Preview" id="profile-picture-img">
        </div>
        <input type="file" id="profile-picture" name="profile-picture" accept="image/*">
    </div>

    <div id="form-fields">
        <div class="form-field">
            <label for="username" id="username-label">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="email" id="email-label">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="bio" id="bio-label">Bio</label>
            <p class="notification">Html support will be added soon!</p>
            <textarea id="bio" name="bio" rows="4" required></textarea>
        </div>
    </div>

</form>